.spectacle-content {
    max-width: 1150px;
}
a {
    text-decoration: none;
}

/* .css-ezcbir {
    list-style-position: outside;
    margin-bottom: 10px;
} */

.css-198n2ng {
    text-align: left;
    list-style-position: outside !important;
    padding: 0 !important;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}